@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#banner {
  position: relative;
  background-image: url(../assets/festivalbyn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  height: 50vh;
}

#banner texto {
  z-index: 2;
}

#banner .titulo {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
}

@media all and (max-width: 768px) {
  #banner .titulo {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

#banner .btn {
  background-color: #000;
  padding: 0.6rem 2.5rem;
  display: inline-block;
  color: white;
  font-size: 13px;
  border-radius: 20px;
}

@media all and (max-width: 768px) {
  #banner .btn {
    padding: 0.4rem 2rem;
    font-size: 10px;
  }
}

.item {
  transition: all 250ms;
}

.item:hover {
  transform: scale(1.1);
}

.item .imagenCard {
  width: 80%;
}

.item div {
  font-weight: 700;
  font-size: 1.5rem;
}

@media all and (max-width: 768px) {
  .item div {
    font-weight: 700;
    font-size: 1.7rem;
  }
}

.item p {
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.5;
}

@media all and (max-width: 768px) {
  .item p {
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5;
  }
}

.item a {
  font-size: 1.2rem;
  color: #000;
}

@media all and (max-width: 768px) {
  .item a {
    font-size: 1.2rem;
    color: #000;
  }
}

.tituloCards {
  font-weight: 700;
  font-size: 2rem;
}

@media all and (max-width: 768px) {
  .tituloCards {
    font-weight: 700;
    font-size: 1.5rem;
  }
}
