body{
	font-family: 'Roboto', sans-serif;	
	font-weight: 400;
} 


#banner{
	position: relative;
	background-image: url(../assets/festivalbyn.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px;	
	height: 50vh;
	texto{
		z-index: 2;
	}		
	.titulo{
		font-size: 3.5rem;	
		font-weight: 700;	
		line-height: 3.5rem;	
		@media all and (max-width: 768px){
			font-size: 1.5rem;	
			line-height: 1.9rem;	
		}		
	}
	.btn{
	    background-color: #000;
	    padding: 0.6rem 2.5rem;
	    display: inline-block;
	    color: white;
	    font-size: 13px;
	    border-radius: 20px;
		@media all and (max-width: 768px){
		    padding: 0.4rem 2rem;
		    font-size: 10px;
		}
		
	}	

}


.item{
	transition: all 250ms;
	&:hover{
		transform: scale(1.1);
	}	
	.imagenCard{
		width: 80%
	}	
	div{
		font-weight: 700;
		font-size: 1.5rem;
		@media all and (max-width: 768px){
			font-weight: 700;
			font-size: 1.7rem;
		}
		
	}	
	p{
		font-weight: 100;
		font-size: 1rem;
		line-height: 1.5;
		@media all and (max-width: 768px){
			font-weight: 100;
			font-size: 1rem;
			line-height: 1.5;
		}
	}	
	a{
		font-size: 1.2rem;		
		color: #000;
		@media all and (max-width: 768px){
			font-size: 1.2rem;		
			color: #000;
		}	
	}
}


	
		
.tituloCards{
	font-weight: 700;
	font-size: 2rem;
	@media all and (max-width: 768px){
		font-weight: 700;
		font-size: 1.5rem;
	}
}
